.magazineContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background: url(../files/extfile/backGroundImgURL.jpg);
    background-position: center center;
    width: 100%;
    height: 90vh;
}
.magazines{
    padding-top: 30px;
    margin-left: 100px;
    width: 350px;
    height: 450px;
}
.magImg{
    width: 250px;
    height: 350px;
}